body {
  background: #0b0b0b;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  padding: 15px;
  background: #111;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
  height: 80px;
  background: #111;
  color: #fff;
  border: none;
  padding: 10px;
}

button {
  background: #7a00ff;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 5px;
}

.post {
  background: #151515;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.post img {
  width: 32px;
  border-radius: 50%;
}
